@import '@iota/apps-ui-kit/styles';
@import '../app/cookie-policy/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply bg-names-neutral-4;
    @apply text-names-primary-100;
}

body[data-scroll-locked] #top-navbar {
    padding-right: var(--removed-body-scroll-bar-size);
}

.name-card-selected::before {
    --gradient-border-width: 1px;
    content: '';
    height: calc(100% + calc(var(--gradient-border-width) * 2));
    width: calc(100% + calc(var(--gradient-border-width) * 2));

    @apply absolute inset-0 rounded-[13px] z-[-1] -translate-x-[1px] -translate-y-[1px] bg-names-gradient-primary;
}

:not(.default-ui-kit-styles) {
    .btn.btn-outlined,
    .input-container:has(input:is(:active, :focus, :focus-visible)),
    .text-area-container:is(:active, :focus, :focus-visible),
    .select-container:is(:active, :focus, :focus-visible) {
        outline: none;
        border: 1px solid transparent !important;
        background-image: linear-gradient(#0f1228, #0f1228), var(--names-gradient-primary);
        background-origin: border-box;
        background-clip: padding-box, border-box;
    }

    .btn.btn-outlined {
        border-radius: 120px;
    }

    .select-container,
    .input-container,
    .text-area-container {
        border-radius: 9px;
    }

    &.btn-alt-bg .btn.btn-outlined {
        background-image: linear-gradient(#0a0d23, #0a0d23), var(--names-gradient-primary);
    }
}

.name-card-shadow {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.48);
}

.search-container:has(input:is(:active, :focus, :focus-visible)) {
    outline: none;
    border: 2px solid transparent !important;
    background-image: linear-gradient(#0f1228, #0f1228), var(--names-gradient-primary);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

/* Content wrapper padding based on banner visibility */
body {
    transition: padding-top 300ms ease-in-out;
}

body:has(div[data-testmode-banner='true']) {
    @apply pt-[70px] md:pt-[40px];
}
