VITE_BUILD_ENV='development'
VITE_AMPLITUDE_ENABLED='false'
VITE_SENTRY_ENABLED='false'
VITE_IOTA_IDENTITY_PKG_ID=xxxxxxx
VITE_IOTA_NOTARIZATION_PKG_ID=xxxxxxx
VITE_IOTA_AUDIT_TRAIL_PKG_ID=xxxxxxx
VITE_IOTA_TF_COMPONENTS_PKG_ID=xxxxxxx
