VITE_BUILD_ENV='development'
VITE_AMPLITUDE_ENABLED='false'
VITE_SENTRY_ENABLED='false'
# On localnet create an identity package first
VITE_IOTA_IDENTITY_PKG_ID=xxxxxxx
# On localnet create a notarization package first
VITE_IOTA_NOTARIZATION_PKG_ID=xxxxxxx
# On localnet create an audit trail package first
VITE_IOTA_AUDIT_TRAIL_PKG_ID=xxxxxxx
# On localnet create a trust framework components package first
VITE_IOTA_TF_COMPONENTS_PKG_ID=xxxxxxx
